<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teacheronlinecourse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="landscape">
        <activity android:name=".Activities.UsersAvtivity"
            android:theme="@style/AppTheme"
            android:label="Users"></activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UserCourses"
            android:label="Courses Enroled"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ExamScors"
            android:label="Exam Scors"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ExamQuestion"
            android:label="Exam"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.PlayExoPlayerView"
            android:label="Player"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Activities.Exams"
            android:label="Exams"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.PlayYoutubeVideo" />
        <activity
            android:name=".Activities.WebViewActivity"
            android:label="pdf"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Activities.Files"
            android:label="Files"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.Courses"
            android:label="Courses"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.CourseInformation"
            android:label="Course Info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ChaptersActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.Home"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".Activities.Registration"
            android:theme="@style/WithoutActionBar" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/WithoutActionBar"></activity>
    </application>

</manifest>